<div >
	<br><br>
	<div class="col-md-2">專案清單列表</div>
	<br><br>

	<div class="col-md-2">專案名稱：</div>
	<div class="col-md-2">
			<input type = "text" ng-model="findname" placeholder=""></input>
	</div>
	<br><br><br>
	<div class="col-md-2">查詢年度: </div>

			<div class="btn-group">
			<button type="button" class="btn btn-default">
				{{year[0]}}				
			</button>
			<button type="button" class="btn btn-default dropdown-toggle" id ="dropdownmenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
				<span class="caret"></span>
				<span class="sr-only">Toggle dropdown</span>
			</button>
			<ul class="dropdown-menu" >
				<li ng-repeat="select in year"><a ng-click="dropboxitemselected(select)">{{select}}</a></li>
			</ul>	
		</div>
<!-- 	<div class="col-md-offset-5">
		<input type = "checkbox"></input>
		是否需要建立清單
	</div> -->

	<br>

	<div class="pull-right btn btn-primary btn-outline" ng-click = "connetdatabase()">同步資料庫</div>
	<div class="pull-right btn btn-primary btn-outline" ng-click = "find()">查詢</div>
	<br>
	<hr style="width: 100% ; height: 3px; background-color: grey ;"/>
	<br></br>
	<table class="table table-bordered">
		




		<tr style="background-color: lightgrey">
			<th>專案名稱</th>
			<th>成果清單預計送出日</th>	
			<th>成果清單預計完成日</th>
			<th>成果清單實際完成日</th>

		</tr>
		<tr ng-repeat="(key,value) in obj">
          	 <td><a ng-click=goProj(value.projname,value.state,value.ques_number,value.projid,value.pre_finishdate)>{{value.projname}}</a></td>
             <td>{{value.pre_sentdate}}</td>
             <td>{{value.pre_finishdate}}</td>
             <td>{{value.act_finishdate}}</td>
		</tr>
	</table>
	<button></button>

</div>