<div>
	<a ui-sref="ViewResult({currentProj:ProjNam,state:ProjState,quesnum:QuesNum,currentPid:Projid})" class="pull-right btn btn-primary btn-outline">修改歷程</a>
	<br></br>
	<div class="col-md-2">
		專案名稱：
	</div>
	<div >
		<span ng-bind ="ProjNam"></span>
	</div>
	<br>
	<div class="col-md-2">
		狀態：
	</div>
	<div>
		<span ng-bind ="ProjState"></span>
	</div>
	<br>
	<div class="col-md-2">
		送審問題單編號：
	</div>
	<div>
		<a href="http://140.92.144.26/issues/{{value.id}}" ng-repeat="(key,value) in QuesNum">{{value.id}}(v{{value.version}}) </a>
	</div>		
	<br><br>
	<div class="pull-left btn btn-primary btn-outline " ng-click = "submitResultTicket()">將成果清單送出審查</div>
	</div>
	<br></br>
	<hr style="width: 100% ; height: 3px; background-color: grey ;"/>
	<div ui-sref="NewResult({currentProj:ProjNam,state:ProjState,quesnum:QuesNum,currentPid:Projid})" class="pull-right btn btn-primary btn-outline">新增成果</div>
	<br></br><br>
	<table class="table table-bordered">
		




		<tr style="background-color: lightgrey">
			<th>成果編號</th>
			<th>成果名稱</th>
			<th>機密等級</th>
			<th>撰稿人</th>
			<th>預計交付日</th>
			<th>送出審查日</th>
			<th>實際完成日</th>
			<th>成果審查單編號</th>	
		</tr>

		

		<tr ng-repeat="(key,value) in results">
			<td><a href="{{value.resultid}}">{{value.resultid}}</a><span></td>
			<td>{{value.resultname}}<span></td>
			<td>{{value.securityclass}}<span></td>
			<td>{{value.editor}}<span></td>
			<td>{{value.pre_sent}}<span></td>
			<td>{{value.pre_veriify}}<span></td>
			<td>{{value.act_finish}}<span></td>
			<td></td>
			
		</tr>
	</table>
</div>