<div>

	<br></br>
	<div>設定郵件伺服器
	</div><br>
	<div class="row">
		<div class="col-md-2 text-left">
			Delivery method:
		</div>
		<div class="btn-group col-md-2">
			<button type="button" class="btn btn-default">
				{{Select}}				
			</button>
			<button type="button" class="btn btn-default dropdown-toggle " id ="dropdownmenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
				<span class="caret"></span>
				<span class="sr-only">Toggle dropdown</span>
			</button>
			<ul class="dropdown-menu" >
				<li ng-repeat="select in subjects"><a ng-click="dropboxitemselected(select)">{{select}}</a></li>
			</ul>	
		</div>
	</div>
	<br>
	<div class = "row">
		<div class="col-md-2">Address:</div>
		<div class="col-md-2">
				<input type = "text" ng-model="name" placeholder=""></input>
		</div>
	</div>
	<br>
	<div class = "row">
		<div class="col-md-2">Port:</div>
		<div class="col-md-2">
				<input type = "text" ng-model="name" placeholder=""></input>
		</div>
	</div>
	<br>
	<div class = "row">
		<div class="col-md-2">Domain:</div>
		<div class="col-md-2">
				<input type = "text" ng-model="name2" placeholder=""></input>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-2 text-left">
			Authentication:
		</div>
		<div class="btn-group col-md-2">
			<button type="button" class="btn btn-default">
				{{login}}				
			</button>
			<button type="button" class="btn btn-default dropdown-toggle " id ="dropdownmenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
				<span class="caret"></span>
				<span class="sr-only">Toggle dropdown</span>
			</button>
			<ul class="dropdown-menu" >
				<li ng-repeat="select in logins"><a ng-click="dropboxitemselected2(select)">{{select}}</a></li>
			</ul>	
		</div>
	</div>
	<div ui-sref="ProjList" class=" btn btn-primary btn-outline">確定</div>

	
</div>