<br>
<div ng-controller="tab1">
<table class="table table-bordered">
		

		<tr style="background-color: lightgrey">
			<th>版本</th>
			<th>建立時間</th>
			<th>成果編號</th>
			<th>成果名稱</th>
			<th>撰稿人</th>
			<th>機密等級</th>
			<th>預計交付日</th>	
		</tr>

		<tr ng-repeat="(key,value) in results">
			<td>{{value.version}}<span></td>
			<td>{{value.createtime}}<span></td>
			<td>{{value.resultid}}<span></td>
			<td>{{value.resultname}}<span></td>
			<td>{{value.editor}}<span></td>
			<td>{{value.securityclass}}<span></td>
			<td>{{value.pre_sentdate}}<span></td>
			
		</tr>
	</table>
</div>