<br>
<div ng-controller="tab2">
<table class="table table-bordered">
		




		<tr style="background-color: lightgrey">
			<th>時間</th>
			<th>修改者</th>
			<th>修改項目</th>
			<th>欄位名稱</th>
			<th>修改前</th>
			<th>修改後</th>	
		</tr>

		

		<tr ng-repeat="(key,value) in results">
			<td>{{value.date}}<span></td>
			<td>{{value.editor}}<span></td>
			<td>{{value.modifyresult}}<span></td>
			<td>{{value.modifyfield}}<span></td>
			<td>{{value.premodify}}<span></td>
			<td>{{value.aftermodify}}<span></td>
			
		</tr>
	</table>
</div>
