@charset "utf-8";
#main 
{
	width:1003px;	
}

#navi 
{
	margin-top:8px;
	float:left;
	text-align:left;
	width:210px;
}

#content 
{	
	margin-top:10px;
	padding-left:7px; 
	float:left;
	text-align:left;
	width:702px;
}

#footer
{	
	clear: both;
	text-align:center;
	width:1003px;
}
